services:
  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: jobai-redis
    ports:
      - "6379:6379"

  worker:
    build: .
    container_name: jobai-worker
    command: celery -A app.core.celery_app worker --loglevel=info
    volumes:
      - .:/code
    env_file:
      - .env
    depends_on:
      - db
      - redis

  pgadmin:
    image: dpage/pgadmin4
    container_name: jobai-pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db

  # selenium:
  #   image: selenium/standalone-chrome:latest
  #   container_name: selenium
  #   ports:
  #     - "4444:4444"

volumes:
  postgres_data:
